.page {
  font-family: 'Inter', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #fbfbfb;
  margin: 0;
  padding: 0;
}

.hero {
  background-color: #fbfbfb;
  text-align: center;
}

.heroImage {
  height: auto;
  max-width: 1000px;
  padding: 50px 0;;
  width: 100%;
}

.heroContent {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 20px 50px;
}

.logoTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.logo {
  width: 64px;
  height: 64px;
}

.title {
  font-size: 2.1rem;
  font-weight: 700;
  color: #222;
}

.subtitle {
  font-size: 1.25rem;
  color: #555;
  margin-bottom: 2rem;
}

.section {
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1400px;
}

.section:nth-child(even) {
  background-color: #f7f9fc;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.section h3 {
  margin: 2rem 0 1rem;
  font-size: 1.2rem;
  color: #00a8cf;
}

.section p {
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 0.5rem;
}

.section ul {
  padding-left: 1.3rem;
}

.section ol {
  padding-left: 3rem;
}

.section li {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.exampleMap {
  width: 100%;
  height: auto;
  padding: 1rem 0.5rem;
}

.ctaSection {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #eef4ff;
}

.ctaSection h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.ctaSection p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #444;
}

.ctaButton {
  display: inline-block;
  background-color: #00a8cf;
  color: white;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 102, 204, 0.25);
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #008bb5;
}

.footer {
  padding: 2rem;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}
